<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="presentAlert()" >Alert</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()" >Alert Multiple Buttons</ion-button>
  <ion-button expand="block" (click)="presentAlertConfirm()" >Alert Confirm</ion-button>
  <ion-button expand="block" (click)="presentAlertPrompt()" >Alert Prompt</ion-button>
  <ion-button expand="block" (click)="presentAlertRadio()" >Alert Radio</ion-button>
  <ion-button expand="block" (click)="presentAlertCheckbox()" >Alert Checkbox</ion-button>
</ion-content>